body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
}

#header {
  height: 30px;
  background-color: #cccccc;
}

#request-list {
  overflow-y: scroll;
  overflow-x: hidden;
}

#dragger {
  background-color: #333333;
  height: 4px;
  cursor: ns-resize;
}

#txt {
  overflow-y: scroll;
  word-wrap: break-word;
  white-space: pre-wrap;
  font-family: Consolas, "Lucida Console", Courier, monospace;
}

#statuspanel {
  bottom: 0;
  height: 30px;
  background-color: #cccccc;
}

.list-row {
  overflow: hidden;
  display: flex;
  white-space: nowrap;
}

.list-row:nth-child(odd) {
  background-color: #e0e0e0;
}

.request-method {
  flex: 0 0 4em;
}

/* .request-list > richlistitem[selected="true"] {
  background-color: #eeeeee;
  color: inherit;
} */

.request-info {
  color: black;
}
.request-ok {
  color: green;
}
.request-redirect {
  color: orange;
}
.request-clerror{
  color: red;
  font-weight: bold;
}
.request-srerror{
  color: red;
  font-weight: bold;
}
.request-other{
  color: black;
}


#button-clear {
  background: url("../skin/oxygen-icons/x-office-document-icon-24.png") no-repeat;
  height: 24px;
  width: 24px;
}
/* toolbar[iconsize="small"] #button-clear {
  list-style-image: url("chrome://samltrace/skin/oxygen-icons/x-office-document-icon-16.png");
}

#button-autoscroll {
  list-style-image: url("chrome://samltrace/skin/oxygen-icons/autoscroll-icon-24.png");
}
toolbar[iconsize="small"] #button-autoscroll {
  list-style-image: url("chrome://samltrace/skin/oxygen-icons/autoscroll-icon-16.png");
}

#button-filter {
  list-style-image: url("chrome://samltrace/skin/oxygen-icons/filter-icon-24.png");
}
toolbar[iconsize="small"] #button-filter {
  list-style-image: url("chrome://samltrace/skin/oxygen-icons/filter-icon-16.png");
}

#button-export-list {
  list-style-image: url("chrome://samltrace/skin/oxygen-icons/export-icon-24.png");
}
toolbar[iconsize="small"] #button-export-list {
  list-style-image: url("chrome://samltrace/skin/oxygen-icons/export-icon-16.png");
}
#button-import-list {
  list-style-image: url("chrome://samltrace/skin/oxygen-icons/import-icon-24.png");
}
toolbar[iconsize="small"] #button-import-list {
  list-style-image: url("chrome://samltrace/skin/oxygen-icons/import-icon-16.png");
} */
