.button {
  color: var(--color-text);
  text-decoration: var(--color-text);
  margin: 4px 0 4px 2px;
  padding: 3px 6px;
  align-items: center;
  display: flex;
  cursor: pointer;
  background-color: var(--color-button-background) !important;
  border-radius: 2px;
}
.button:hover {
  background-color: var(--color-button-hover) !important;
}
.button.active {
  color: var(--color-highlight-color);
  background-color: var(--color-highlight) !important;
}
.button.inactive {
  color: var(--color-border);
  pointer-events: none;
}
.button.with-icon {
  padding: 3px 6px 3px 15px;
}

#button-clear {
  background: var(--button-clear-default) no-repeat 4px 50%;
}
#button-pause {
  background: var(--button-pause-default) no-repeat 4px 50%;
}
#button-pause.button.active {
  background: var(--button-pause-active) no-repeat 4px 50%;
}
#button-autoscroll {
  background: var(--button-autoscroll-default) no-repeat 4px 50%;
}
#button-autoscroll.button.active {
  background: var(--button-autoscroll-active) no-repeat 4px 50%;
}
#button-filter {
  background: var(--button-filter-default) no-repeat 4px 50%;
}
#button-filter.button.active {
  background: var(--button-filter-active) no-repeat 4px 50%;
}
#button-colorize {
  background: var(--button-colorize-default) no-repeat 4px 50%;
}
#button-colorize.button.active {
  background: var(--button-colorize-active) no-repeat 4px 50%;
}
#button-export-list {
  background: var(--button-export-default) no-repeat 4px 50%;
}
#button-import-list {
  background: var(--button-import-default) no-repeat 4px 50%;
}
