.button {
  color: currentColor;
  text-decoration: currentColor;
  margin: 4px 0 4px 2px;
  padding: 3px 6px;
  align-items: center;
  display: flex;
  cursor: pointer;
  background-color: #ededed !important;
  border-radius: 2px;
}
.button:hover {
  background-color: #dedede !important;
}
.button.active {
  color: #ffffff;
  background-color: #0074e8 !important;
}
.button.inactive {
  color: #cccccc;
  pointer-events: none;
}
.button.with-icon {
  padding: 3px 6px 3px 15px;
}

#button-clear {
  background: url("../images/icons/button-clear-default.png") no-repeat 4px 50%;
}
#button-autoscroll {
  background: url("../images/icons/button-autoscroll-default.png") no-repeat 4px 50%;
}
#button-autoscroll.button.active {
  background: url("../images/icons/button-autoscroll-active.png") no-repeat 4px 50%;
}
#button-filter {
  background: url("../images/icons/button-filter-default.png") no-repeat 4px 50%;
}
#button-filter.button.active {
  background: url("../images/icons/button-filter-active.png") no-repeat 4px 50%;
}
#button-export-list {
  background: url("../images/icons/button-export-default.png") no-repeat 4px 50%;
}
#button-import-list {
  background: url("../images/icons/button-import-default.png") no-repeat 4px 50%;
}