.title {
  font-weight: bold;
  border-bottom: 1px dotted #cccccc;
  line-height: 20px;
}

.row-space {
  margin-bottom: 15px;
}

.bottomRow {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
}

.errorBox {
  display: none;
  color: #e66465;
  background-color: #ffe7e8;
  margin-top: 15px;
  padding: 5px;
}