.title {
  font-weight: bold;
  border-bottom: 1px dotted #cccccc;
  margin-bottom: 15px;
  line-height: 20px;
}

#splitBox {
  display: flex;
  flex-direction: row;
  /* margin: 15px 15px; */
}

#selectionBox {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}

.bottomRow {
  float: right;
  margin-top: 15px;
}