.modal {
  visibility: hidden;
  z-index: 49;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-modal);
  display: flex;
  justify-content: center;
}

.modal-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.modal-close {
  height: 20px;
  width: 20px;
  align-self: right;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-background) var(--button-clear-default) no-repeat 50%;
  cursor: pointer;
}
.modal-close:hover {
  background: var(--color-button-background) var(--button-clear-default) no-repeat 50%;
}

.modal-content {
  padding: 10px;
  background-color: var(--color-background);
}
