:root {
	--color-background: white;
	--color-header-background: #f5f5f5;
	--color-button-background: #ebebeb;
	--color-button-hover: #e0e0e0;
	--color-border: #d6d6d6;
	--color-text: #292929;
	--color-highlight: #0074e8;
	--color-highlight-color: white;
	--color-highlight-lighter: #96C8F5;
	--color-green: green;
	--color-orange: orange;
	--color-red: red;
	--color-modal: rgba(200, 200, 200, 0.6);
	--color-syntax-comment: #737373;
	--color-syntax-string: #003eaa;
	--color-syntax-keyword: #dd00a9;
	--color-syntax-section: #0074e8;
	--color-syntax-tag: #dc2d25;

	--button-clear-default: url("../images/icons/button-clear-default.png");
	--button-pause-default: url("../images/icons/button-pause-default.png");
	--button-pause-active: url("../images/icons/button-pause-active.png");
	--button-autoscroll-default: url("../images/icons/button-autoscroll-default.png");
	--button-autoscroll-active: url("../images/icons/button-autoscroll-active.png");
	--button-filter-default: url("../images/icons/button-filter-default.png");
	--button-filter-active: url("../images/icons/button-filter-active.png");
	--button-colorize-default: url("../images/icons/button-colorize-default.png");
	--button-colorize-active: url("../images/icons/button-colorize-active.png");
	--button-export-default: url("../images/icons/button-export-default.png");
	--button-import-default: url("../images/icons/button-import-default.png");
}
@media (prefers-color-scheme: dark) {
	:root {
		--color-background: black;
		--color-header-background: #141414;
		--color-button-background: #292929;
		--color-button-hover: #333333;
		--color-border: #3d3d3d;
		--color-text: #d6d6d6;
		--color-green: #007B00;
		--color-orange: #AA8517;;
		--color-red: #a63434;
		--color-modal: rgba(50, 50, 50, 0.6);
		--color-syntax-comment: #737373;
		--color-syntax-string: #165cd7;
		--color-syntax-keyword: #bf289c;
		--color-syntax-section: #2d7dcc;
		--color-syntax-tag: #dc2d25;

		--button-clear-default: url("../images/icons/button-clear-active.png");
		--button-pause-default: url("../images/icons/button-pause-active.png");
		--button-autoscroll-default: url("../images/icons/button-autoscroll-active.png");
		--button-filter-default: url("../images/icons/button-filter-active.png");
		--button-colorize-default: url("../images/icons/button-colorize-active.png");
		--button-export-default: url("../images/icons/button-export-active.png");
		--button-import-default: url("../images/icons/button-import-active.png");
	}
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  overflow-y: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  color: var(--color-text);
}

iframe {
  border: none;
}

.not-selectable {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.is-selectable {
  user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
}

#header {
  height: 24px;
  background-color: var(--color-header-background);
  border-bottom: 1px solid var(--color-border);
  display: flex;
  flex-direction: row;
}

#request-list {
  overflow-y: scroll;
  overflow-x: hidden;
}

#dragger {
  background-color: var(--color-border);
  height: 4px;
  cursor: ns-resize;
}

#request-info-tabbox {
  overflow: hidden;
  height: 25px;
  background-color: var(--color-header-background);
  border-bottom: 1px solid var(--color-border);
  display: flex;
}

a.tab {
  float: left;
  padding: 4px 10px;
  align-self: flex-end;
  color: var(--color-text);
  text-decoration: none;
}

a.tab.selected {
  color: var(--color-highlight);
  border-top: 2px solid var(--color-highlight);
  background-color: var(--color-background);
  box-shadow: unset;
}

a.tab:hover {
  border-top: 2px solid var(--color-border);
  background-color: var(--color-button-background);
}

#request-info-content {
  padding: 2px;
  overflow-y: scroll;
  word-wrap: break-word;
  white-space: pre-wrap;
  font-family: Consolas, "Lucida Console", Courier, monospace;
}

#statuspanel {
  bottom: 0;
  height: 22px;
  padding: 3px 0 0 3px;
  border-top: 1px solid var(--color-border);
}

.list-row {
  overflow: hidden;
  display: flex;
  white-space: nowrap;
  border-bottom: 1px dotted var(--color-button-background);
  color: var(--color-text);
}
.list-row:hover {
  background-color: var(--color-button-background);
}
.list-row.monochrome {
  color: unset;
}
.list-row.selected,
.list-row.selected:hover {
  color: var(--color-highlight-lighter);
  background-color: var(--color-highlight);
}
.list-row.isResource {
  height: 0;
  border-bottom: none;
}
.list-row.isResource.displayAnyway {
  height: unset;
  border-bottom: 1px dotted var(--color-button-background);
}

.request-method {
  flex: 0 0 5em;
  margin-left: 2px;
}

.request-url {
  /* full width minus HTTP-method width minus SAML- and WS-Fed-logo */
  width: calc(100% - 5em - 40px - 56px);
}

.request-info {
  color: var(--color-text);
}
.request-ok {
  color: var(--color-green);
}
.request-redirect {
  color: var(--color-orange);
}
.request-clerror{
  color: var(--color-red);
}
.request-srerror{
  color: var(--color-red);
}
.request-other{
  color: var(--color-text);
}

.saml-logo {
  margin-left: auto;
  display: block;
  width: 40px;
  height: 14px;
  background: url("../images/saml.png") no-repeat center/cover;
}
.ws-fed-logo {
  margin-left: auto;
  display: block;
  width: 56px;
  height: 14px;
  background: url("../images/ws-fed.png") no-repeat center/cover;
}

#summary {
  white-space: normal;
  word-wrap: normal;
}

#summary table th {
	color: var(--color-text);
  background-color: var(--color-button-background);
}

#summary table td {
  padding: 0 10px;
}
