body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  overflow-y: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  color: #444444;
}

iframe {
  border: none;
}

.not-selectable {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.is-selectable {
  user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
}

#header {
  height: 24px;
  background-color: #f9f9fa;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  flex-direction: row;
}

#request-list {
  overflow-y: scroll;
  overflow-x: hidden;
}

#dragger {
  background-color: #e0e0e0;
  height: 4px;
  cursor: ns-resize;
}

#request-info-tabbox {
  overflow: hidden;
  height: 25px;
  background-color: #f9f9fa;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
}

a.tab {
  float: left;
  padding: 4px 10px;
  align-self: flex-end;
  color: #444444;
  text-decoration: none;
}

a.tab.selected {
  color: #0074e8;
  border-top: 2px solid #0074e8;
  background-color: #ffffff;
  box-shadow: unset;
}

a.tab:hover {
  border-top: 2px solid #bebebe;
  background-color: #ededed;
}

#request-info-content {
  padding: 2px;
  overflow-y: scroll;
  word-wrap: break-word;
  white-space: pre-wrap;
  font-family: Consolas, "Lucida Console", Courier, monospace;
}

#statuspanel {
  bottom: 0;
  height: 22px;
  padding: 3px 0 0 3px;
  border-top: 1px solid #e0e0e0;
}

.list-row {
  overflow: hidden;
  display: flex;
  white-space: nowrap;
  border-bottom: 1px dotted #cccccc;
  color: #999999;
}
.list-row:hover {
  background-color: #E6F0FA;
}
.list-row.selected {
  color: #96C8F5;
  background-color: #0074e8;
}
.list-row.selected:hover {
  color: #96C8F5;
  background-color: #0074e8;
}
.list-row.isRessource {
  height: 0;
  border-bottom: none;
}
.list-row.isRessource.displayAnyway {
  height: unset;
  border-bottom: 1px dotted #cccccc;
}

.request-method {
  flex: 0 0 5em;
  margin-left: 2px;
}

.request-url {
  /* fullwidth minus HTTP-method width minus SAML- and WS-Fed-logo */
  width: calc(100% - 5em - 40px - 56px);
}

.request-info {
  color: black;
}
.request-ok {
  color: green;
}
.request-redirect {
  color: orange;
}
.request-clerror{
  color: red;
  font-weight: bold;
}
.request-srerror{
  color: red;
  font-weight: bold;
}
.request-other{
  color: black;
}

.saml-logo {
  margin-left: auto;
  display: block;
  width: 40px;
  height: 14px;
  background: url("../images/saml.png") no-repeat center/cover;
}
.ws-fed-logo {
  margin-left: auto;
  display: block;
  width: 56px;
  height: 14px;
  background: url("../images/ws-fed.png") no-repeat center/cover;
}