.hljs {
  display: block;
}

.hljs-comment,
.hljs-meta {
  color: var(--color-syntax-comment);
}

.hljs-string,
.hljs-variable,
.hljs-template-variable,
.hljs-strong,
.hljs-emphasis,
.hljs-quote {
  color: var(--color-syntax-string);
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-type,
.hljs-literal,
.hljs-symbol,
.hljs-bullet,
.hljs-attribute,
.hljs-title,
.hljs-attr,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: var(--color-syntax-keyword);
}

.hljs-section,
.hljs-name {
  color: var(--color-syntax-section);
}

.hljs-tag {
  color: var(--color-syntax-tag);
}
